.vscode/
*.o
*.exe
*.out
*.obj
.env
build/
__pycache__/
env/
venv/
.venv/
build/
bin/
teste
testeBST
testeAVL
testeSplay
testePatricia
testeTrie
testeKD
testeTreap
testeSplayAplicacao
testePatriciaAplicacao
testeTrieAplicacao
testeKdAplicacao
testeTreapAplicacao
benchmark